<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Page</title>
        <style>
            .img {
            }
        </style>
    </head>
    <body>
        <form id="form">
            <input id="inputFile" type="file" accept="image/jpeg,image/png" />
            <input type="submit" />
        </form>
        <img id="image" src="{{image_src}}" alt="" class="img" />

        <script>
            document.getElementById('form').onsubmit = submit;

            async function submit(e) {
                e.preventDefault();
                const data = new FormData();
                data.append("file", document.getElementById('inputFile').files[0]);

                const resp = await fetch("{{ upload_url }}", {
                    method: "POST",
                    body: data,
                });
                await resp.text();

                image = document.getElementById('image');
                image.src = image.src + '?r=' + String(Math.random())
            }
        </script>
    </body>
</html>
