[Unit]
Description=home_inventory
After=network.target
 
[Service]
User=kupec
WorkingDirectory=PATH/TO/home_inventory/web
ExecStart=poetry run uvicorn app:app --port 8001
Restart=always
RestartSec=60
 
[Install]
WantedBy=multi-user.target

